* {
    padding: 0;
    margin: 0;
}

.first {
    background-color: gray;
    margin-top: 20px;
    padding: 10px;
}

.first label {
    font-size: 1em;
    font-weight: bold;
    padding: 12px;
}

.first .first-label {
    width: 150px;
    margin-left: 20px;
    padding: 5px;
}

.second label {
    font-size: 1em;
    font-weight: bold;
    padding: 12px;
    text-align: left;
}

.second {
    margin-top: 10px;
    padding: 10px;
}

.third {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: gray;
}

.four {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
}

.fifth {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: gray;
}

.six {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.seven {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: gray;
}

.eight {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
}

.eight .eight-label {
    width: 150px;
    margin-left: 20px;
    padding: 5px;
}

.btn-style {
    padding: 5px 12px;
    margin-left: 85px;
    color: white;
    background-color: rgb(93, 201, 93);
    border: 1px solid gray;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}

.maindiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

fieldset {
    padding: 10px;
}

.checkbox {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rgba(199, 191, 191, 0.514);
}